.display-category-action{
    display: flex;
    margin-left: 10px;
}

#display-category-button_element{
    margin-left: 1000px;
    margin-top:10px;
}
img.category-card {
    width: 60%;
    margin-left: 40px;
}
.category-card-div{
    width: 200px;
  margin-left: 60px;
  display:inline-table;
  margin-top: 20px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  background-color: rgb(209, 204, 240);
  padding: 15px 15px 15px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  overflow: hidden;
}
#display-category-name{
    text-align: center;
}