.shoppingCart{
    width: 100%;
    position: relative;
}
.display-category{
    position: relative;
    margin-top: -500px;
    text-align: -webkit-center;
    background-color: red;
    margin-left :10px;
}

.display-category-header{
    position: relative;
    margin-top: -430px;
    color: white;
}

#display-category-name{
   background-color: white;
   width: 20%;
   border-radius: 20px;
   padding: 5px 10px 5px 15px;
   text-align: center;
   border-color: black;
   border-width: 2px;
}
#display-category-button{
    background-color: red;
}
.display-category-action{
    display: flex;
}