.actionButton{
    display: flex;
    margin-top: 30px;
}
.add-product-heading{
    font-size: 20px;
    margin-left: 30px;
}
#add-product-button_element{
    margin-top: 10px;
    margin-left: 970px;
}
.dropdown {
    margin-top: 10px;
    width: 40.5%;
}