.sidebar-main-div{
    background-color: rgb(5, 5, 71);
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    display: flex;
    }
    .sidebar-title{
       margin-left: 50px;
    }
    .active_class{
        color: grey;
        margin-left:20px;
        text-decoration: none;
    }
    .dashboard{
        color: white;
        text-decoration: none;
    }
    #sidebar_buttons{
        margin-top: 10px;
        margin-left: 600px;
        display:block;
        /* display: inline-block; */
    }
    .sidebar-logout-button{
       margin-left: 390px;
       
    }
    .main-nav-active{
        color: red;
    }