.sign-up-main-div{
    margin-top: 100px;
   text-align: -webkit-center;
}
#email_element.label {
    color: grey;
    align-items: flex-start;
    margin-right: 100px;
}
.sign_up_button_div{
    margin-top:15px;
}
.sign-in-error{
    color: red;
    font-style: italic;
}
.sign-in-success{
    color: green;
    font-style: italic;
}